<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons>
        <ion-back-button>
        </ion-back-button>
      </ion-buttons>
      <ion-title>secciones</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Programacion Base Datos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Seccion: 015D
        <br>
        Hora: 10:29 - 12:00
      </ion-card-content>
      <ion-button class="centrado" (click)="basedatosP()">Igresar</ion-button>
    </ion-card>
  <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Portafolio</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Seccion: 020D
        <br>
        Hora: 13:00 - 14:50
      </ion-card-content>
      <ion-button class="centrado" (click)="portafolioP()" >Igresar</ion-button>
    </ion-card>
  <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingeneria Software</ion-card-title>

      </ion-card-header>
    
      <ion-card-content>
        Seccion: 012D
        <br>
        Hora: 14:00 - 16:30
      </ion-card-content>
      <ion-button class="centrado" (click)="ingsoftwareP()">Igresar</ion-button>
    </ion-card>
  
  
  </ion-content>
  