<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="centrado">Registrarse</ion-card-title>
      <br>
      <ion-input label="Nombre:"  placeholder="Nombre"></ion-input>
      <br>
      <ion-input label="Rut:"  placeholder="Rut"></ion-input>
      <br>
      <ion-input label="Correo:"  ngModel email errorText="Usuario Invalido" placeholder="Correo"></ion-input>
      <br>
      <ion-input label="Nueva Contraseña:" errorText="Contraseña Invalida" placeholder=" Clave" type="password" value=""></ion-input>
      <br>
      <ion-input label="Repetir Contraseña:" errorText="Contraseña Invalida" placeholder=" Clave" type="password" value=""></ion-input>
    </ion-card-header>
    <ion-button  class="centrado" id="present-alert" (click)="Registrar()">Registrar</ion-button>
      <ion-alert
        trigger="present-alert"
        header="Bienvenido!"
        message="Se a rgistrado correctamente"
        [buttons]="alertButtons"
    ></ion-alert>
  </ion-card>
</ion-content>
