<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="" />
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle class="centrado">Bienvenido Profesor </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input label="Usuario:"  ngModel email errorText="Usuario Invalido" placeholder="Ej:Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña:" errorText="Contraseña Invalida" placeholder="Ingrese Clave" type="password" value=""></ion-input>
      </ion-item>

      <ion-button color="dark"  fill="outline" expand="block">INGRESAR</ion-button>
      <ion-button color="medium" size="small" fill="clear" expand="block">Restablecer Contraseña ?</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
